article {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 100vh;
    background: #ffc107
} 
  
article .title {
    font-size: 60px;
    line-height: 5px;
    font-weight: 400;
    color: #424242;
    text-align: center
}
  
article .subtitle {
    font-size: 18px;
    line-height: 26px;
    font-weight: 300;
    color: #424242;
    text-align: center;
}